doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title chat@cloud
		link(rel="stylesheet" type="text/css" src="")
	body
		p Welcome to <strong>chat at cloud!</strong>
		footer
		script(src="/socket.io/socket.io.js")
		script(src=" /js/index.js")