<header>
    <ul>
        <li>{{#linkify "/" "Home"}}{{/linkify}}</li>
        <li>{{#linkify "/ourproducts" "See our products"}}{{/linkify}}</li>
    </ul>
    <h1>{{pageTitle}}</h1>
    <p id='subMessage'>{{subMessage}}</p>
</header>