- var msg = 'upgrade to Prime Member';
div
	strong our shipping policy
	p We deliver freely on orders equal or beyond 50.00$ total,
		| otherwise we charge you 5.00$ per shipping 
		| or #[strong #[a(href='/primeMember' id='upgradeToPrimeMember') #{msg}]] to get #[strong free shipping].
		| Some special offers might apply, so be watching.