<!DOCTYPE HTML>
<HTML>
    <head>    
        <link rel="stylesheet" type="text/css" src="./styles/hor_menu.css"></link>
        <meta charset="utf-8"/>
        <title>{{pageTitle}} Page</title>        
    </head>
    <body>       
        {{! handlebar's prefabricated templates —A.K.A. 'partials' }}
        {{> header}}
        {{> footer}}
        <script src=""/>
    </body>
</HTML>
